<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Psalmbord</title>
    <!-- The board's inline script uses only jQuery core; jQuery-UI, Bootstrap
         and FontAwesome were ~750 KB of unused assets on a low-power kiosk. -->
    <style>
        {{ css }}
    </style>
    <link rel='stylesheet' href="/static/css/psalmbord.css">

    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <div class="container">
    </div>
</body>

<script>

    let url = window.location.origin + "/" + "psalmbord"
    let css = $("style")
    let container = $(".container")
    let interval = 10000 // milliseconds
    let hasFailed = false
    let firstAlignment = true
    let html_hash = ""

    function success(response) {
        let result = JSON.parse(response)
        if (hasFailed) {
            location.reload()
        } else {
            interval = result["refreshrate"]*1000 // milliseconds
            css.html(result["css"])
            if(result["html_hash"] !== undefined){
                html_hash = result["html_hash"]
                container.html(result["html"])
            }
            if(firstAlignment && interval > 2000){
                // de eerste keer de alignment vertragen, zodat pagina volledig geladen is
                // dit is alleen zinvol als de ingestelde interval >2sec is
                setTimeout(alignment, 2000 )
            } else {
                alignment()
            }
            setTimeout(update, interval)
        }
    }

    function error() {
        hasFailed = true
        setTimeout(update, interval)
    }

    function update() {
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({ html: true, html_hash: html_hash }),
            success: success,
            error: error,
            contentType: "application/json; charset=utf-8",
        })
    }

    function alignment(){
        // bereken per regel de resterende breedte van kolom 3
        container.find(".regel").each(function(){
            var regel = $(this).innerWidth()
            var col2 = $(this).find(".col2").outerWidth()
            
            // breedte van col1 en col3 instellen, mits er een col2 bestaat
            if( col2 !== undefined ){
                var col1 = $(this).find(".col1").outerWidth()
                var half = (regel / 2) - (col2 / 2) - 0.2

                if( col1 < half ){
                    // beide kolommen even breed
                    $(this).find(".col1, .col3").css("width", half)
                } else {
                    // kolom 1 is breder, dus kolom 3 smaller
                    $(this).find(".col3").css("width", regel - col1 - col2 - 1)
                }
                
                if( $.isNumeric( $(this).find(".col1").text() ) ){
                    // als col1 uit alleen een getal bestaat, dan rechts uitlijnen. 
                    // Praktijkvoorbeeld:
                    // Genesis
                    //    18 : 9 - 15
                    $(this).find(".col1 span").attr('style', 'float:right !important');
                }
            }
        })
        firstAlignment = false;
    }

	function resolution(){
		if( screen.width/screen.height == 9/19.5 ){
            // samsung s23, 1080/2340
			$('.container').addClass('s9_195')
		} else if( Math.round((screen.width/screen.height)*100)/100 == 9/20 ){
            // samsung a23, 1080/2408
			$('.container').addClass('s9_20')
		} else if( screen.width/screen.height == 10/16 ){
			$('.container').addClass('s10_16')
		} else {
            // fullhd, zoals 1080/1920
			$('.container').addClass('s9_16')
        }
	}

	resolution()
    update()

</script>

</html>